.banner#banner
   .banner__body.container.fadeIn
       .banner__top
           a.logo
               img.logo__img(src='images/logo-white.png')
           .nav#nav-tabs
               a.nav__item(href="#banner") home
               a.nav__item(href="#products") products
               a.nav__item(href="#cart")
                   img.nav__item_img(src='images/fa-shopping-cart.png')
       .container
            h1.banner__title Our clothing , your comfort
            span.banner__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua.
       a.banner__arrow.hvr-hang(href="#products")
           img.banner__arrow_img(src='images/fa-chevron-down.png')
