color_white = #ffffff
color_light-bg = #f6f6f7
color_brown = #aa9b77
color_gray1 = #535253
color_gray2 = #424242

banner_overlay = rgba(43,43,43, .5)
transition_standard = .2s
border_radius = 3px
header_height = 120px

width_lg = 1200px
width_md = 990px
width_sm = 768px
width_xs = 460px